<section class="movie-list py-5">
  <div class="container">
    <div class="row p-5 bg-color">
      <h1 class="display-5 fw-medium mb-5">Welcome to our movie app</h1>
      <p class="fw-medium">
        Millions of movies, TV shows and people to discover. Explore now.
      </p>
      <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
        <div class="row">
          <div class="col-sm-12 col-md-9 col-lg-11">
            <input
              class="rounded input-styling border-0 py-2 px-3 w-100 mb-3 mb-md-0"
              type="text"
              placeholder="Search and explore...."
            />
          </div>
          <div class="col-sm-12 col-md-3 col-lg-1">
            <button class="btn rounded px-4 py-2 bg-yellow">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-5 g-4">
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div>
          <app-movies-card></app-movies-card>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div>
          <app-movies-card></app-movies-card>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div>
          <app-movies-card></app-movies-card>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div>
          <app-movies-card></app-movies-card>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div>
          <app-movies-card></app-movies-card>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div>
          <app-movies-card></app-movies-card>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div>
          <app-movies-card></app-movies-card>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div>
          <app-movies-card></app-movies-card>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div>
          <app-movies-card></app-movies-card>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div>
          <app-movies-card></app-movies-card>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div>
          <app-movies-card></app-movies-card>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div>
          <app-movies-card></app-movies-card>
        </div>
      </div>
    </div>
  </div>
</section>
